@using System.Security.Claims

@if (Request.IsAuthenticated)
{
    <div>
        <center>
            @if (ClaimsPrincipal.Current.HasClaim("newUser", "true"))
            {
                <h2>Welcome, new user!</h2>
                <h5>You've just signed up as a new user in the B2C directory <strong class="text-primary">@ViewData["tenant"]</strong>.</h5>
                <h5>Edit the <a href="/Settings">App's Settings</a> to change directories, apps, and policies.</h5>
            }
            else
            {
                <h2>Welcome back!</h2>
                <h5>You're currently signed in to the AAD B2C Playground, using the <strong class="text-primary">@ViewData["tenant"]</strong> directory.</h5>
                <h5>Edit the <a href="/Settings">App's Settings</a> to change directories, apps, and policies.</h5>
            }

            @if (ViewBag.SuccessMessage != null)
            {
            <p style="color:green">Your app settings have been successfully saved.</p>
            }
            
            <div>
                <input type="button" style="margin:10px;width:150px" class="btn btn-primary" onclick="window.location.href='/Account/Profile'" value="Edit Profile" />
                <input type="button" style="margin:10px;width:150px" class="btn btn-warning" onclick=" window.location.href='/Account/SignOut' " value="Sign Out" />
            </div>

            <hr />

            <h5>Here are the claims your application just received:</h5>

            <table class="table table-striped table-hover"> @*table-bordered table-condensed*@
                <thead>
                    <tr>
                        <th>Claim Type</th> @*class="claim-type claim-data claim-head"*@
                        <th>Claim Value</th> @*class="claim-data claim-head"*@
                    </tr>
                </thead>    
                <tbody>
                    @foreach (Claim claim in ClaimsPrincipal.Current.Claims)
                    {
                        <tr>
                            <td><div data-toggle="tooltip" data-placement="top" title="" data-original-title="@WebApp_B2C_DotNet.Utils.ClaimTips.Names.FirstOrDefault(c => c.Key.Equals(claim.Type)).Value" class="claim-td">@claim.Type</div></td> @*class="claim-type claim-data"*@
                            <td><div data-toggle="tooltip" data-placement="top" title="" data-original-title="@WebApp_B2C_DotNet.Utils.ClaimTips.Descriptions.FirstOrDefault(c => c.Key.Equals(claim.Type)).Value" class="claim-td">@claim.Value</div></td> @*class="claim-data"*@
                        </tr>
                    }
                </tbody>
            </table>
        </center>
    </div>
}
else
{
    <div>
        <center>
            <h2>Welcome to the AAD B2C Playground</h2>
            <h5>You're currently using the B2C directory <strong class="text-primary">@ViewData["tenant"]</strong></h5>
            <h5>Edit the <a href="/Settings">App's Settings</a> to change directories, apps, and policies.</h5>
            @if (ViewBag.SuccessMessage != null)
            {
                <p style="color:green">Your app settings have been successfully saved.</p>
            }
            
            <input type="button" style="margin:10px;width:150px" class="btn btn-primary" onclick=" window.location.href='/Account/SignUp' " value="Sign Up" />
            <input type="button" style="margin:10px;width:150px" class="btn btn-primary" onclick="window.location.href='/Account/SignIn'" value="Sign In" />
        </center>
    
    </div>
}